# Ignore BST_02.java file
BST_02.java

# Common Java ignores
*.class
*.jar
*.war
*.ear
*.logs

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml